body{
    background-color: whitesmoke;
    color: green;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    border: 4px solid black;
    background-color: cornflowerblue;
    height: 600px;
}
.caja{
    border: 2px solid white;
    text-align: center;
    line-height: 100 px;
    background-color: rgb(246, 248, 248);
}
.caja1{
    grid-column: 1 / 5;
    border-top: 30px;
    background-color: rgb(0, 153, 255);
}
.caja2{
    grid-column: 1/2 ;
    grid-row: 2/5;
    background-color: rgb(170, 31, 31);
}
.caja3{
    background-color: orange;
    grid-column: 2/5;
    grid-row: 2/3;
}
.caja4{
    background-color: orange;
    grid-column: 2/5;
    grid-row: 3/4;
}
.caja5{
    background-color: orange;
    grid-column: 2/5;
    /*grid-row: 2/;*/
}
.caja6{
    grid-column: 1 / 5;
    border-top: 30px;
    background-color: rgb(82, 36, 124);
}
